RD/Web365/Web References/NL/micro_checkout_api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="NS" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="NS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="NS">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SetExpressCheckoutDepositRequest">
    <wsdl:part name="merchant_site_code" type="xsd:string" />
    <wsdl:part name="checksum" type="xsd:string" />
    <wsdl:part name="params" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutDepositResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutPaymentRequest">
    <wsdl:part name="merchant_site_code" type="xsd:string" />
    <wsdl:part name="checksum" type="xsd:string" />
    <wsdl:part name="params" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutPaymentResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckoutRequest">
    <wsdl:part name="merchant_site_code" type="xsd:string" />
    <wsdl:part name="checksum" type="xsd:string" />
    <wsdl:part name="params" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckoutResponse">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckout2Request">
    <wsdl:part name="merchant_site_code" type="xsd:string" />
    <wsdl:part name="checksum" type="xsd:string" />
    <wsdl:part name="params" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckout2Response">
    <wsdl:part name="result" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="NGANLUONG_APIPortType">
    <wsdl:operation name="SetExpressCheckoutDeposit">
      <wsdl:input message="tns:SetExpressCheckoutDepositRequest" />
      <wsdl:output message="tns:SetExpressCheckoutDepositResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckoutPayment">
      <wsdl:input message="tns:SetExpressCheckoutPaymentRequest" />
      <wsdl:output message="tns:SetExpressCheckoutPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckout">
      <wsdl:input message="tns:GetExpressCheckoutRequest" />
      <wsdl:output message="tns:GetExpressCheckoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckout2">
      <wsdl:input message="tns:GetExpressCheckout2Request" />
      <wsdl:output message="tns:GetExpressCheckout2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NGANLUONG_APIBinding" type="tns:NGANLUONG_APIPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="SetExpressCheckoutDeposit">
      <soap:operation soapAction="http://www.nganluong.vn/micro_checkout_api.php/SetExpressCheckoutDeposit" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckoutPayment">
      <soap:operation soapAction="http://www.nganluong.vn/micro_checkout_api.php/SetExpressCheckoutPayment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckout">
      <soap:operation soapAction="http://www.nganluong.vn/micro_checkout_api.php/GetExpressCheckout" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckout2">
      <soap:operation soapAction="http://www.nganluong.vn/micro_checkout_api.php/GetExpressCheckout2" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="NS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NGANLUONG_API">
    <wsdl:port name="NGANLUONG_APIPort" binding="tns:NGANLUONG_APIBinding">
      <soap:address location="http://www.nganluong.vn/micro_checkout_api.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>